:root {
	--alert-bg: #ffffff;
	--alert-border: #e5e7eb;
	--alert-text: #111827;

	--alert-info: #0ea5e9;
	--alert-success: #16a34a;
	--alert-warning: #f59e0b;
	--alert-error: #dc2626;
}

[data-theme='dark'] {
	--alert-bg: #0f172a;
	--alert-border: #1f2937;
	--alert-text: #f9fafb;
}

.alert {
	display: flex;
	gap: 0.75rem;
	padding: 1rem;
	border-radius: 0.75rem;
	border: 0.0625rem solid var(--alert-border);
	background: var(--alert-bg);
	color: var(--alert-text);
	align-items: center;

	margin-bottom: 1rem;

	&-icon {
		font-size: 1.2rem;
	}

	&-content {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}

	&-title {
		font-weight: 600;
		font-size: 0.95rem;
	}

	&-description {
		font-size: 0.875rem;
		opacity: 0.85;
	}

	/* ================= VARIANTS ================= */

	&.alert-info {
		border-left: 1rem solid var(--alert-info);
	}

	&.alert-success {
		border-left: 1rem solid var(--alert-success);
	}

	&.alert-warning {
		border-left: 1rem solid var(--alert-warning);
	}

	&.alert-error {
		border-left: 1rem solid var(--alert-error);
	}
}
