@use './../functions/_index' as fn;
@use './../shared/colors.scss' as *;

:root {
	--btn-radius: 0.5rem;
	--btn-padding: 0.6rem 1.2rem;
	--btn-always-light: #f3f4f6;
	--btn-always-dark: #111827;

	// --btn-primary: #2563eb;
	// --btn-secondary: #6b7280;
	// --btn-success: #16a34a;
	// --btn-danger: #dc2626;
	// --btn-warning: #f59e0b;
	// --btn-info: #0ea5e9;

	--btn-light: #f3f4f6;
	--btn-dark: #111827;
}

[data-theme='dark'] {
	--btn-light: #111827;
	--btn-dark: #f3f4f6;
}

.btn {
	position: relative;
	overflow: hidden;
	padding: var(--btn-padding);
	border-radius: var(--btn-radius);
	border: 0.125rem solid transparent;
	cursor: pointer;
	font-weight: 500;
	margin: 0.2rem 0.2rem 0.4rem 0.2rem;
	transition: all 0.1s ease;

	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}
}

.ripple {
	position: absolute;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.6);
	transform: scale(0);
	animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
	to {
		transform: scale(4);
		opacity: 0;
	}
}

@each $name, $color in $colors {
	.btn[data-variant='solid-#{$name}'] {
		background: #{$color};
		border-color: #{$color};
		@if $name == light {
			color: var(--btn-always-dark);
		} @else {
			color: var(--btn-always-light);
		}

		$shadow: fn.darken($color, -15%);

		box-shadow: 0 0.375rem 0 #{$shadow};
		transform: translateY(0);

		&:hover {
			transform: translateY(-0.125rem);
			box-shadow: 0 0.5rem 0 #{$shadow};
		}

		&:active {
			transform: translateY(0.125rem);
			box-shadow: 0 0.125rem 0 #{$shadow};
		}
	}

	.btn[data-variant='outline-#{$name}'] {
		$new-color: $color;
		@if $name == dark {
			$new-color: var(--btn-dark);
		}
		$new-hover-color: var(--btn-dark);
		@if $name == dark {
			$new-hover-color: var(--btn-light);
		}

		background: transparent;
		border: 0.125rem solid $new-color;
		color: $new-color;
		box-shadow: none;

		&:hover {
			background: $new-color;
			color: $new-hover-color;
		}

		&:active {
			transform: translateY(0.125rem);
			box-shadow: none;
		}
	}

	.btn[data-variant='transparent-#{$name}'] {
		$new-color: $color;
		@if $name == dark {
			$new-color: var(--btn-dark);
		}

		background: transparent;
		border: 0;
		color: #{$new-color};

		box-shadow: none;

		&:hover {
			background: rgba($new-color, 0.1);
		}

		&:active {
			transform: translateY(0.125rem);
		}
	}
}
