body {
  background-color: rgb(25.5, 25.5, 25.5);
  color: rgb(168.2876712329, 34.5205479452, 20.7123287671);
  font-size: calc(1.5px * 1rem);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}
@media (min-width: 576px) {
  h1 {
    font-size: 1.125rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 1.25rem;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #9999ff;
}
@media (min-width: 768px) {
  ul {
    color: #ffdb99;
  }
}
ul > li {
  font-size: 3rem;
}
